<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Ekkel/src/strings/Exercise15.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="strings.Exercise15"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;D:\SoftServe_Task\lv-098_task\Ekkel\src\strings\Exercise15.java&quot; &quot;\b[Ssct]\w+&quot; Pattern.CASE_INSENSITIVE"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Ekkel"/>
</launchConfiguration>
